<div class="container">
  <div class="text-center my-4">
    <img src= <%= "#{@tweet.img}" %> >
    <h5 class="card-title"><%=link_to "#{@tweet.user.name}", user_path(@tweet.user.id), method: :get %><h5>
    <p><%= "#{@tweet.tweet}" %></p>
  </div>
</div>
