<div class="container">
  <div class="text-center my-4">
    <h2><%= "#{@user.name}さんのフォロー一覧" %></h2>
    <div class="row">
      <% @user.following.each do |u| %>
      <div class=" card-deck col-sm-3">
        <div class="card my-3" style="width: 18rem">
          <%= image_tag  "#{u.thumbnail}", class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%=link_to "#{u.name}", user_path(u.id), method: :get %><h5>
                <p><%= "#{u.introduction}" %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>