// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-title{
  .EDITLink{
    text-decoration: none;
  }
}
.row{
  .EDITLink{
    text-decoration: none;
  }
}

.field{
  #file-preview{
  max-height: 700px;
  max-width: 700px;
}
}
