// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-title{
  .EDITLink{
    text-decoration: none;
  }
}
#follow{
  .EDITLink{
    text-decoration: none;
  }
}
#follower{
  .EDITLink{
    text-decoration: none;
  }
}
.field{
  .introduction{
    width: 75%;
  }
}
